
‏body {
‏    margin: 0;
‏    font-family: 'Raleway', sans-serif;
‏    background-color: #121212;
‏    color: #00ffff; /* Light blue color */
‏    overflow-x: hidden;
‏    direction: rtl; /* Right-to-left direction for Arabic language */
‏    text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00ffff;
}

‏header {
‏    position: relative;
‏    height: 100vh;
‏    overflow: hidden;
‏    display: flex;
‏    flex-direction: column;
‏    justify-content: center;
‏    align-items: center;
‏    text-align: center;
‏    background: url('path-to-your-background.gif') no-repeat center center fixed;
‏    background-size: cover;
}

‏.overlay {
‏    position: absolute;
‏    top: 0;
‏    left: 0;
‏    width: 100%;
‏    height: 100%;
‏    background: rgba(0, 0, 0, 0.5);
‏    z-index: 1;
}

‏.container {
‏    position: relative;
‏    z-index: 2;
‏    max-width: 1200px;
‏    padding: 20px;
}

‏h1 {
‏    font-size: 48px;
‏    margin: 0 0 20px;
‏    font-weight: 700;
‏    text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00ffff;
}

‏p {
‏    font-size: 24px;
‏    margin: 0 0 40px;
‏    font-weight: 400;
‏    text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00ffff;
}

‏nav ul {
‏    list-style: none;
‏    margin: 0;
‏    padding: 0;
‏    display: flex;
‏    gap: 20px;
‏    justify-content: center;
‏    flex-wrap: wrap;
}

‏nav ul li {
‏    margin: 0;
}

‏nav ul li a img,
‏button img {
‏    width: 30px; /* Adjust size as needed */
‏    height: 30px; /* Adjust size as needed */
‏    transition: transform 0.3s ease;
}

‏nav ul li a img:hover,
‏button img:hover {
‏    transform: scale(1.1);
}

‏button {
‏    background-color: transparent;
‏    border: none;
‏    cursor: pointer;
}

‏.gif-container {
‏    display: flex;
‏    flex-direction: column;
‏    gap: 10px;
‏    margin-top: 20px;
}

‏.gif-row {
‏    display: flex;
‏    justify-content: center;
‏    gap: 10px;
}

‏.gif-row img {
‏    width: 100px;
‏    height: 100px;
‏    object-fit: cover;
}

‏.glow-button {
‏    background-color: #00ffff; /* Blue background */
‏    color: #000; /* Black text */
‏    padding: 10px; /* Add padding */
‏    border-radius: 5px;
‏    text-decoration: none;
‏    display: inline-block;
‏    transition: background-color 0.3s ease, color 0.3s ease;
‏    margin: 10px; /* Add margin to space out buttons */
‏    text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00ffff;
‏    box-shadow: 0 0 10px #00ffff; /* Add a glowing box shadow */
}

‏.glow-button:hover {
‏    background-color: #00c; /* Slightly darker blue on hover */
‏    color: #fff; /* White text on hover */
}